body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  color: white;
  padding: 0;
}

header {
  background: #003366;
  color: red;
  padding: 1rem;
  text-align: center;
}

section {
  color: black;
  background: #fff;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-left: 8px solid #003366;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section:nth-child(odd) {
  border-left-color: #cc0000;
}
section:nth-child(even) {
  border-left-color: #ff9900;
}

ul,
ol {
  padding-left: 1.5rem;
}

ul li,
ol li {
  margin: 0.5rem 0;
}

img {
  margin-top: 1rem;
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#box1 {
  padding: 10px;
  border: solid 1px green;
}

#box2 {
  padding: 8px;
  border: solid 1px blue;
}

#box3 {
  padding: 10px;
  border: solid 1px green;
}

#box4 {
  flex-grow: 1;
  border: solid 1px orange;
}

#box5 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#box6 {
  flex-grow: 1;
  margin: 0 8px;
  border: solid 1px red;
}

#box7 {
  margin-top: 8px;
}

#box8 {
  flex-grow: 1;
  border: solid 1px black;
}

footer {
 background: #003366;
  color: red;
  padding: 1rem;
  text-align: center;
}
